/* Обнуление */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
    font-size: 21px;
    line-height: 29.8px;
    color: #18447A;
}
html,
body{
    height: 100%;
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
ul,
ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 320px;
    margin: 0 auto;
}

/* ---HEADER----------------------------------------------- */

.header__container{
    display: flex;
    min-height: 37px;
    align-items: center;
    border-bottom: 2px solid #54ACFF;
}
.header__title{
    margin-left: 13.37px;
}
.header__logo-img{
    margin-left: 16px;
}
.header__call{
    margin-left: 58.64px;
}

/* ---MAIN----------------------------------------------- */
.main{
    flex: 1 1 auto;
}
.main__container{
    margin-top: 7.36px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* .main__dates{
    max-height: 385.55px;
    margin-left: 23.16px;
    margin-top: 52.33px;
    margin-bottom: 52.33px;
} */
/* .main__btn-up{
    margin-bottom: 8.25px;
}
.main__list{
    text-align: center;
}
.main__item{
    margin-bottom: 12.75px;
    font-size: 14px;
    font-weight: 700;
}
.main__span{
    margin-bottom: 5px;
    font-weight: 400;
}
.border-common{
    color: #2569B0;
    border: 1px solid #54ACFF;
    border-radius: 6px;
}
.colored{
    color: #F39C00;
} */
/* .main__content{
    max-width: 211px;
    margin-top: 26.5px;
} */
.main_image{
    width: 211px;
    height: 105.71px;
}
.main__image{
    position: relative;
    width: 211px;
    height: 130px;
}
.main__image-img{
    width: 100%;

}
.main__image-info{
    font-family: 'Noto Serif', serif;
    position: absolute;
    right: 3.64px;
    top: 4.17px;
    color: #18447A;
    background: #E4E4E4;
    opacity: 0.8;
    border: 2px solid #18447A;
    width: 29.09px;
    height: 28.28px;
}
.main__yate{
    width: 210.39px;
    height: 23.34px;
    background-color: #DDEAEA;;
}
.main__yate-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 10.39px;
}
.main__sometext{
    display: flex;
    margin-top: 7.57px;
}
.main__text1{
    width: 161.29px;
    height: 28.15px;
    background-color: #FFC700;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.main__text2{
    margin-left: 4.71px;
    width: 45px;
    height: 28.15px;
    background-color: #FFC700;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.main__line{
    width: 307px;
    border: 1px solid #7E9E9E;
    margin-top: 0px;
}
.top{
    margin-top: 8.4px;
}
.main__order{
    display: flex;
}
.main_order-num{
    display: flex;
    width: calc((320px - 210.39px)/2);
    height: calc(22.35px + 76.13px);
    margin-right: 20px;
}
.main_num{
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 16px;
}
.main_order-form{
    /* display: flex; */
    margin-right: 42px;
    margin-bottom: 0;
}
.main__date{
    width: 210.39px;
    height: 22.35px;    
    background: #418DDC;
    border-radius: 6px 6px 0px 0px;
}
.main__date-date{
    margin-left: 18.3px;
    margin-right: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
}
.main__date-new{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
}
.main__info{
    width: 210.39px;
    height: 76.13px;
    border: 1px solid #7E9E9E;
    border-radius: 0px 0px 6px 6px;
}
.main__info-person{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    margin-left: 15.94px;
    margin-top: 6px;
}

/* ---FOOTER----------------------------------------------- */
.footer__container{
    min-height: 50px;
    border-top: 2px solid #54ACFF;
    display: flex;
}
.footer__scroll-left{
    /* width: 10.77px;
    height: 21.36px; */
    margin-left: 15.34px;
    /* margin-top: 20px; */
}
.footer_left{
    margin-top: 13px;
}
.footer__text{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 13px;
    margin-top: 16px;
    margin-left: 20px;
    /* width: 30px;
    height: 18px; */
}